name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types: [published]

jobs:
  build-and-test-amd64:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ahuservices
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker image for testing (amd64)
      id: build_image_amd64
      run: |
        docker buildx create --use --name mybuilder
        docker buildx inspect mybuilder --bootstrap
        docker buildx build --target test --platform linux/amd64 --tag cs-image-tools:${{ github.sha }}-amd64 --output type=docker .

    - name: Run tests (amd64)
      run: |
        docker run --rm cs-image-tools:${{ github.sha }}-amd64

  build-and-test-arm64:
    runs-on: [self-hosted, Linux, ARM64]
    if: github.event_name == 'release'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ahuservices
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker image for testing (arm64)
      id: build_image_arm64
      run: |
        docker build --target test --platform linux/arm64 --tag cs-image-tools:${{ github.sha }}-arm64 .

    - name: Run tests (arm64)
      run: |
        docker run --rm cs-image-tools:${{ github.sha }}-arm64

  multi-arch-build-and-push:
    runs-on: ubuntu-latest
    needs: [build-and-test-amd64, build-and-test-arm64]
    if: github.event_name == 'release'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ahuservices
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push multi-arch Docker image
      run: |
        docker buildx create --use --name mybuilder
        docker buildx inspect mybuilder --bootstrap
        docker buildx build --platform linux/amd64,linux/arm64 --tag ahuservices/cs-image-tools:latest --tag ahuservices/cs-image-tools:${{ github.ref_name }} --push .
